<!doctype html>
<!--
	Afonso
	Diogo 
-->
<html lang="pt">

<head>
    <title>Viagens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>

    <!-- Header -->
    <section id="header">
        <header class="major">
            <h1>AS<br/>MINHAS<br/>VIAGENS</h1>
            <p>API - SPA</a>
            </p>
        </header>
        <div class="container">
            <ul class="actions">
           <% if (user.local.email != null) { %>
            <img src="https://avatars.io/gravatar/<%= user.local.email %>/140" class="img-circle"><br>
            <strong>email</strong>: <%= user.local.email %><br>
          <% } %>

          <% if (user.facebook.id != null) { %>
            <h2 class="fa fa-facebook"> Facebook</h2><br>
            <img src="https://avatars.io/gravatar/<%= user.facebook.email %>/140" class="img-circle"><br>
            <strong>id</strong>: <%= user.facebook.id %><br>
            <strong>email</strong>: <%= user.facebook.email %><br>
            <strong>name</strong>: <%= user.facebook.name %>
          <% } %>
                </a>
            </ul>
        </div>
    </section>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="c/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>

</body>

</html>